@font-face {
    font-family: InterTightSemiBold;
    src: url('/assets/fonts/InterTight-VariableFont_wght.ttf');
    font-weight: 600;
}

@font-face {
    font-family: InterTightExtraLight;
    src: url('/assets/fonts/InterTight-VariableFont_wght.ttf');
    font-weight: 200;
}

@font-face {
    font-family: InterTightThin;
    src: url('/assets/fonts/InterTight-VariableFont_wght.ttf');
    font-weight: 100;
}

@font-face {
    font-family: InterTightSemiBoldItalic;
    src: url('/assets/fonts/InterTight-Italic-VariableFont_wght.ttf');
    font-weight: 600;
}

@font-face {
    font-family: InterTight;
    src: url('/assets/fonts/InterTight-VariableFont_wght.ttf');
    font-weight: 400;
}

@font-face {
    font-family: InterTightExtraBold;
    src: url('/assets/fonts/InterTight-VariableFont_wght.ttf');
    font-weight: 800;
}

@font-face {
    font-family: Manrope;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: ManropeLight;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
    font-weight: 300;
}

@font-face {
    font-family: ManropeExtraBold;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
    font-weight: 800;
}

@font-face {
    font-family: ManropeMedium;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
    font-weight: 500;
}

@font-face {
    font-family: ManropeSemiBold;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
    font-weight: 600;
}

@font-face {
    font-family: ManropeExtraLight;
    src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
    font-weight: 200;
}

body {
    font-family: Manrope, 'Lucida Sans', sans-serif;
    font-size: 16px;
}

.text__content, .post__content, .index__projects ul li div {
    font-size: 1.1em;
}

h1 {
    font-size: 3em;
    font-family: InterTightSemiBold, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 2em;
    font-family: InterTightSemiBold, 'Trebuchet MS', sans-serif;
}

.index h2 {
    font-size: 2.5em;
}

h3 {
    color: var(--page-subtitle-color);
    font-size: 1.5em;
   
}

header nav {
    font-size: 2em;
    font-family: ManropeLight, 'Lucida Sans', sans-serif;
}

footer, .sidebar {
    color: var(--inverse-text-color);
}

.sidebar {
    font-size: 1.2em;
}

.sidebar__title {
    font-size: 1.5em;
}

.sidebar__toc .sidebar__title {
    font-size: 1.2em;
}

.post__content h2 {
    font-size: 2em;
    font-family: InterTightThin, 'Trebuchet MS', sans-serif;
    color: var(--post-subtitle-color);
}

.site-title {
    font-size: 4em;
    font-family: InterTightSemiBold, 'Trebuchet MS', sans-serif;
}

.post__date {
    font-family: InterTightSemiBold, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.index__projects h3 {
    font-family: ManropeLight, 'Lucida Sans', sans-serif;
}

.post__tags {
    color: var(--text-detail-color);
    font-family: InterTightExtraLight, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

.project__date-info {
    font-size: 0.7em;
    color: var(--text-detail-color);
    font-style: italic;
}

.toc {
    font-family: ManropeExtraBold;
}

.cv__container .content__wrapper h3 {
    color: #105463;
    font-size: 1.3em;
    font-family: ManropeMedium;
}

.cv__category-properties {
    font-size: 1.3em;
    color: #318294;
    font-family: ManropeExtraLight;
}

.cv__link-box a {
    font-family: InterTightSemiBoldItalic;
}