//because it is the top level element, container is placed first here despite being an id.
#container {
    background-color: var(--site-background-color);
    background-image: url("/images/master_teal_50.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: min-content max-content min-content; 
}

header {
    background-color: var(--content-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 3 / 10;
    padding: 2%;
    border-radius: 0px 0px 26px 26px;
    margin-bottom: 5%;
}

header ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 0.5em;
}

header li + li::before {
    content: " · ";
    padding: 0.5em;
}


footer {
    margin: 0.5em;
    grid-column: 1 / span 12;
    text-align: center;
}

.page-content {
    grid-column: 3 / 10;
    /*makes the footer stay at the bottom when the mid content is not long enough.
    300px is an arbitrary value (just trial and error until I found a value that
    had the right spacing. normally I would do header + footer addition but it didn't
    work here, the value needed to be higher.*/
    min-height: calc(100vh - 300px);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
   
    margin-bottom: 0.5em;

}

.blog__post, .index, .blog, .text__content {
    background-color: var(--content-background-color);
    border-radius: 26px;
    grid-column: 4 / 13;
    grid-row: 1;
    z-index: 1;
}

.post__content {
    white-space: pre-line;
}

.index {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}

.index__blog {
    grid-column: 2 / 11;
    grid-row: 1 / 1;
}

.index__post {
    display: grid;
}

.index__post h3 {
    grid-column: 1 / 12;
}

.index__post .post__date {
    grid-column: 11 / 12;
    text-align: right;
}

.index__post .post__tags {
    grid-column: 9 / 12;
    margin-bottom: 0.5em;
}

.index__post .post__content {
    grid-column: 1 / 12;
}

.index__post .post__link {
    grid-column: 11 / 12;
    margin-top: 0.5em;
}

.index__blog h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.index__projects {
    border-left: 10px var(--project-accent-color) solid;
    padding-left: 1em;
    grid-column: 2 / 11;
    grid-row: 2 / 2;
    display: grid;
}

.index__projects h2 {
    grid-column: 1 / 12;
}

.index__projects ul {
    grid-column: 1 / 12;
}

.index__projects .index__follow-link {
    grid-column: 11 / 12;
}

.index__projects h3 + div {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.text__content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: min-content max-content; 
}

.text__content h1, .text__content p, .text__content div, .text__content h2 {
    grid-column: 2 / 10;
}

.text__content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.text__content h1 {
    margin-top: 1em;
}

.blog {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    //grid-template-rows: min-content max-content; 
}

.blog h1 {
    grid-column: 3 / 10;
    margin-top: 1em;
}

.blog div {
    grid-column: 3 / 10;
}

.blog__post {
    display: grid;
}

.blog__post h2 {
    grid-column: 1 / 12;
    margin-top: 0.5em;
}

.blog__post .post__date {
    grid-column: 11 / 12;
    text-align: right;
}

.blog__post .post__tags {
    grid-column: 10 / 12;
    text-align: right;
}

.blog__post .post__content {
    grid-column: 1 / 12;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    border-radius: 26px 0px 0px 26px;
    grid-column: 1 / 5;
    grid-row: 1;
    //display: flex;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);

    
}

.sidebar__content {
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
    padding: 2em;*/
    grid-column: 2 / 5;
    grid-row: 3 / 6;
}


.sidebar__title {
    margin-bottom: 1.5em;
}

.sidebar__blurb {
    padding-right: 1.5em;
}

.sidebar-menu {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
}

.sidebar__blog-links {
    margin-top: 2em;
}

.sidebar__blog-links a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}



.accent {
    grid-column: 12 / 12;
    grid-row: 1;
    z-index: 2;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.accent2 {
    width: 50px;
    height: 100%;
    background-color: var(--post-accent-color);
}

.grid__list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .grid__list li {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .divider {
    text-align: center;
    border-bottom: 3px var(--project-accent-color) double;
  }
  
  #navToggleButton {
    display: none;
  }