//because it is the top level element, container is placed first here despite being an id.
#container {
    background-color: var(--site-background-color);
    background-image: url("/images/master_teal_50.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    //display: grid;
    //grid-template-columns: repeat(12,1fr);
    //grid-template-rows: min-content max-content min-content; 
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr  minmax(min-content, 1250px) 1fr 1fr 1fr 1fr 1fr;
}

header {
    background-color: var(--content-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 3 / 5;
    padding: 2%;
    border-radius: 0px 0px 26px 26px;
    margin-bottom: 5%;
}

header ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 0.5em;
}

header li + li::before {
    content: " · ";
    padding: 0.5em;
}


footer {
    padding: 1.5em;
    text-align: center;
}

.page-content {
    grid-column: 3 / 5;
    /*makes the footer stay at the bottom when the mid content is not long enough.
    275px is an arbitrary value (just trial and error until I found a value that
    had the right spacing. normally I would do header + footer addition but it didn't
    work here, the value needed to be higher.*/
    min-height: calc(100vh - 275px);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-bottom: 0.5em;

}

.index, .text__content {
    background-color: var(--content-background-color);
    border-radius: 26px;
    grid-column: 4 / 13;
    grid-row: 1;
    z-index: 1;
}

.blog {
      background-color: rgba(255,255,255,0.2);
    border-radius: 26px;
    grid-column: 4 / 13;
    grid-row: 1;
    z-index: 1;
}

.post__content {
    white-space: pre-line;
}

.index {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: min-content;
}

.index__blog {
    grid-column: 1 / 10;
    margin-left: 4em;
}

.index__post {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.index__post h3 {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.index__post .post__date {
    grid-column: 11 / span 12;
    text-align: right;
    grid-row: 1;
}

.index__post .post__tags {
    grid-column: 9 / span 12;
    margin-bottom: 0.7em;
    text-align: right;
}

.index__post .post__content {
    grid-column: 1 / 12;
}

.index__post .post__link {
    grid-column: 11 / span 12;
    margin-top: 0.5em;
}

.index__blog h2 {
    margin-bottom: 0.7em;
    margin-top: 1.2em;
}

.index__projects {
    border-left: 10px var(--project-accent-color) solid;
    padding-left: 1em;
    grid-column: 1 / 10;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 4em;
}

.index__projects h2 {
    grid-column: 1 / 12;
}

.index__projects ul {
    grid-column: 1 / 12;
    margin-top: 1em;
}

.index__projects .index__follow-link {
    grid-column: 11 / 12;
}

.index__projects h3 + div {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.text__content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    //grid-template-rows: min-content max-content; 
    //grid-auto-rows: 2em;
}

.content__wrapper {
    grid-column: 2 / 10;
}

.content__wrapper:last-child {
    margin-bottom: 2em;
}

.text__content p {
    margin-bottom: 1em;
    margin-top: 0.5em;
}



.text__content h2{
    margin-bottom: 0.7em;
}

.text__content h1 {
    margin-top: 1em;
}

.blog {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    //grid-template-rows: min-content max-content; 
    box-shadow: -6px 6px 20px 0px rgba(0,0,0,0.3);
}

.blog h1 {
    grid-column: 1 / 13;
    //margin-top: 1em;
    //margin-left: 0.6em;
    background-color: var(--content-background-color);
    padding-left: 1.6em;
    padding-top: 1em;
    border-radius: 26px 26px 0px 0px;

}

.blog div {

    // was 2 / 10 incase this breaks other pages and i have to make it its own class.
    grid-column: 1 / 13;
    //margin-left: 1em;
}

.blog__content {
    grid-column: 1 / 13;
    background: var(--content-background-color);
    border-radius: 26px;
}

.blog__page {
    grid-column: 1 / 13;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6, 7em);
    background: var(--content-background-color);
    border-radius: 26px;
}

.blog__page h1 {
    grid-column: 2 / 10;
    padding-left: 0px;
}

.blog__page .grid__list {
    grid-column: 2 / 10;
}

.blog__post {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #fff;
}

.individual__post {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #fff;
    border-radius: 26px;
}

.individual__post h1 {
    grid-column: 1 / 12;
}

.blog__post:last-child {
    border-radius: 0px 0px 26px 26px;
}

.blog__post h2 {
    grid-column: 2 / span 12;
    margin-top: 0.5em;
    //margin-left: 0.4em;
}



.blog__post .post__date, .individual__post .post__date {
    grid-column: 8 / 10;
    text-align: right;
}

.blog__post .post__tags, .individual__post .post__tags {
    grid-column: 7 / 10;
    text-align: right;
}

.blog__post .post__content, .individual__post .post__content {
    grid-column: 2 / 10;
}


.sidebar {
    background-color: var(--sidebar-background-color);
    border-radius: 26px 0px 0px 26px;
    grid-column: 1 / 5;
    grid-row: 1;
    //display: flex;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    //grid-template-rows: repeat(12,1fr);

    
}

.sidebar__content {
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
    padding: 2em;*/
    grid-column: 2 / 5;
    //grid-row: 2 / 6;
    padding-top: 8em;
}



.sidebar__title {
    margin-bottom: 1.5em;
}

.sidebar__blurb {
    padding-right: 1.5em;
}

.sidebar-menu {
    grid-column: 2 / 5;
    //grid-row: 2 / 36;
    padding-top: 8em;
    
}

.sidebar__blog-links {
    margin-top: 2em;
}

.sidebar__blog-links a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

.sidebar__toc p a{
    display: flex;
}



.accent {
    grid-column: 12 / 12;
    grid-row: 1;
    z-index: 2;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.accent2 {
    width: 50px;
    height: 100%;
    background-color: var(--post-accent-color);
}

.grid__list {
    grid-column: 2 / 10;
}


.grid__list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  
  .grid__list li {
    display: flex;
    flex-direction: column;
    margin: 2em 2em 2em 0em;
}

  .divider {
    border-bottom: 3px #fff dashed;
    width: 100%;
  }

  .divider + .blog__post {
    padding-top: 2em;
  }

  .project__list {
    margin-bottom: 3em;
  }

  .project__list a {
    display: inline-block;
  }

  .cv__subheading {
    display: flex;
    align-items: center;
    margin-bottom: 0.7em;
  }

  .cv__subheading h2 {
    margin-bottom: 0px;
    white-space: nowrap;
  }

  .cv__subheading-accent {
    overflow: hidden;
    margin-left: 1em;
  }

  .cv__container {
    display: grid;
    grid-column: 1 / span 12;
    //background-color: beige;
    grid-template-columns: repeat(12,1fr);

  }

  .cv__container .content__wrapper {
    grid-column: 1 / span 12;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .cv__category-heading {
    border: 1px #A0CEE8; 
    border-top-style: solid;
    border-bottom-style: solid;
    //text-decoration: underline overline 1px #A0CEE8 solid;
    display: flex;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
   
  }

  .cv__category-properties {
    display: flex;
    justify-content: flex-start;


  }

  .cv__category-content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-top: 1em;
    margin-bottom: 1em;
  }

.cv__category-desc {
    grid-column: 1 / 8;
}

.cv__link-box {
    grid-column: 9 / span 12;
}

  .cv__category-properties li::before {
    content: '';
    display: inline-block;
    height: 0.57em;
    width: 0.57em;
    background-color: #A0CEE8;
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

  .cv__categories {
    grid-column: 2 / 12;
    margin-top: 3em;
  }
  

  .cv__title-accent {
    background-color: #379EAC;
    background-image: url("/images/dotted-line-variant.svg");
    background-repeat: repeat-x;
    background-position: center;
    grid-column: 1 / span 12;
    margin-top: 3.2em;
  }
  .cv__title-accent h1 {
    background-color: #fff;
    display: inline;
    margin-left: 2rem;
    grid-column: 2 / 12;
    margin-left: 1.65em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  .cv__blurb {
    grid-column: 2 / 8;
  }

  #cv__blurb-content {
    background-color: #E8F7FC;
    border-radius: 23px;
    padding: 0.5em;
    margin: 0px;
  }

  .cv__blurb-border {
    border: 1px #E8F7FC solid;
    padding: 0.5em;
    border-radius: 23px;
    margin-top: 2.6em;
  }

  .mobile-cv__category-properties {
    display: none;
  }

  .toc {
    grid-column: 8 / 12;
    margin-left: 4em;
    margin-top: 3.5em;
  }

  .toc li {
    list-style-type: disc;
  }

  .toc li::marker {
    color: var(--inline-link-color);
  }
  
  #navToggleButton {
    display: none;
  }

  #markdown-toc {
    display: none;
  }