a {
    color:aquamarine;
}

header a {
    color: var(--title-color);
    text-decoration: none;
}

.index__blog .post__link a {
    text-decoration: none;
}

.index__projects a {
    color: var(--title-link-color);
    text-decoration: none;
}

.blog__post a, .post__link a, .index__follow-link a, .text__content p a, .grid__list a {
    color: var(--inline-link-color);
}

.post__tags a {
    color: var(--text-detail-color);
}

.sidebar a {
    color: var(--inverse-text-color);
}

a:hover {
    font-weight: 900;
}

h2 a, .post__tags a, .project__list a {
    text-decoration: none;
}

h2 a:hover, .project__list a:hover {
    text-decoration: underline;
    text-decoration-color: var(--title-underline-color);
}

.project__list a {
    color: var(--inline-link-color);
    
}



