a {
    color:aquamarine;
}

a:hover {
    font-weight: 900;
}

header a {
    color: var(--title-color);
    text-decoration: none;
}

.index__blog .post__link a {
    text-decoration: none;
}

.index__projects a {
    color: var(--title-link-color);
    text-decoration: none;
}

.blog__post a, .post__link a, .index__follow-link a, .text__content p a {
    color: var(--inline-link-color);
}

.post__tags a {
    color: var(--text-detail-color);
}

.sidebar a {
    color: var(--inverse-text-color);
}
