
@media screen and (max-width: 600px) {
  
  body {
    font-size: 14px;
  }
    
  .hidden {
    display: none;
  }

  .dimmed-background {
    background-color: var(--dimmed-bg-color);
    transition: all 0.5s ease-out;
  }

  .undimmed-background {
    transition: all 0.5s ease-out;
  }

  .accent {
    display: none;
  }

  #blog__sidebar {
    grid-column: 10 / span 12;
    z-index: 2;
    background-color: transparent;
    color: var(--sidebar-mobile-text-color);
  }

  #blog__sidebar a {
    color: var(--sidebar-mobile-text-color);
  }

  .sidebar-menu {
    grid-column: 2 / 6;
    padding-top: 2em;
  }

  .burgermenu {
    stroke: var(--sidebar-mobile-text-color);
    stroke-width: 3;
    fill: none;
  }

  #navToggleButton {
    display: block;
    z-index: 3;
    position: relative;
    padding-left: 1em;
  }

  .index, .blog, .text__content {
    grid-column: 1 / span 12;
  }

  .index__blog, .index__projects {
    margin-left: 1em;
  }

  header {
    display: block;
  }

  header nav {
    font-size: 1.5rem;
  }

  header ul {
    justify-content: initial;
  }

  .site-title {
    font-size: 3rem;
  }

  .post__tags {
    font-size: 0.9rem;
    grid-column: 6 / 9;

  }

  .index__post .post__date {
    font-size: 1rem;
  }

  .index h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #markdown-toc {
    display: block;
  }

}


@media screen and (max-width: 870px) {
  .sidebar__content {
    padding-right: 1em;
    font-size: 0.9em;
    grid-column: 2 / 3;
  }

  .sidebar__blurb {
    padding-right: 0em;
  }

  .sidebar__title {
    font-size: 1em;
    font-weight: bold;
  }

  .sidebar__latest-posts, .sidebar__blog-links {
    font-size: 0.9em;
  }

  .blog h1 {
    padding-left: 0.8em;
  }
}

@media screen and (max-width: 1280px) {
  header, .page-content {
    margin-left: 1em;
    margin-right: 1em;
  }
}


@media screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }

  #container {
    background: #fff;
    overflow-x: hidden;
  }

  header {
    background-image: url("/images/master_teal_50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0px;
    border-radius: 0px;
    z-index: 2;
  }

  header nav {
    font-size: 1.2rem;
  }

  footer {
    background-image: url("/images/master_teal_50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-left: 0.7em;
    font-size: 1em;
    font-family: ManropeSemiBold;
  }

  footer a {
    font-size: 0.9em;
  }

  header a {
    color: #fff;
    font-size: 0.7em;
  }

  header li + li::before {
    padding: 0.3em;
  }

  .sidebar {
    border-radius: 0px 0px 26px 26px;
    grid-column: 1/13;
    grid-row: 1;
    border: solid rgba(162, 197, 204, 0.25);
    border-width: 0 1px 1px 1px;
    box-shadow: 0 0 0 5px #fff inset;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: -5px;
    z-index: 1;
  }

  .sidebar__content {
    padding: 1.3em;
    padding-right: 0px;
    grid-column: 1 / span 6;
    color: #000;
    display: flex;
  }

  .sidebar__title {
    font-size: 2.1em;
    margin-right: 0.5em;
    align-self: center;
    margin-bottom: 0px;
  }

  .sidebar__blurb {
    padding-right: 1.2em;
  }

  .index {
    grid-row: 2;
  }

  .index__blog {
    margin: 0px;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .index__blog h2 {
    grid-column: 2 / span 12;
  }

  .index__blog .index__post {
    grid-column: 1 / span 12;
  }

  .index__post {
    padding: 1em;
  }

  .index__post .post__content {
    grid-column: 2 / 12;
  }

  .index__post h3 {
    font-family: InterTightSemiBold;
    grid-column: 2 / 12;
  }

  .index__post .post__tags, .index__post .post__date {
    grid-column: 11 / 12;
    font-size: 0.9em;
  }

  .index__post .post__date {
    color: #20859B;
  }

  .index__post .post__link {
    grid-column: 11 / span 12;
    font-size: 0.9em;
  }

  .index__projects {
    margin: 0px;
    grid-column: 1 / span 12;
    margin-bottom: 2em;
    padding: 0px;
  }

  .index__projects h2 {
    margin-bottom: 0.7em;
    margin-top: 1.2em;
    grid-column: 2 / 12;
  }

  .index__projects ul {
    border-left: 10px #92C3CE solid;
    padding-left: 1em;
    grid-column: 2 / 12;
  }

  .index__projects .index__follow-link {
    grid-column: 10 /12;
    margin-bottom: 1em;
  }

  .site-title {
    font-size: 2.3em;
  }

  .page-content {
    margin: 0px;
  }

  .cv__container .content__wrapper {
    grid-column: 1 / span 12;
  }

  .cv__title-accent {
    background: none;
    margin: 0px;
    // margin-left: 1em;
    margin-top: 1em;
    grid-column: 2 / 12;
  }

  .cv__title-accent h1 {
    margin: 0px;
    padding: 0px;
  }

  .cv__blurb {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .cv__blurb-border {
    border: none;
    margin: 0px;
    padding: 0px;
    grid-column: 2 / 12;
  }

  #cv__blurb-content {
    background-color: transparent;
    padding-top: 1.5em;
    padding-left: 0px;
    padding-bottom: 1em;
  }

  .cv__categories {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  .cv__subheading {
    grid-column: 2 / 12;
    background-color: #E8F1F8;
    padding: 0.2em;
  }

  .cv__subheading-accent {
    display: none;
  }

  .cv__category-heading {
    grid-column: 2 / 12;
    border: none;
  }

  .cv__category-content {
    grid-column: 1 / span 12;
    font-size: 0.9em;
    padding-bottom: 2em;
  }

  .cv__category-desc {
    grid-column: 2 / 8;
    padding-top: 1.5em;
   
  }

  .cv__category-desc p {
    border-left: 6px #E8F1F8 solid;
    padding-left: 0.5em;
  }

  .cv__desc-sidebar {
    border-left: 1px #EFEFEF solid;
    padding-left: 0.5em;
    grid-column: 9 / 12;
  }

  .cv__category-properties {
    display: none;
  }

  .mobile-cv__category-properties {
    display: block;
    padding-top: 2.2em;
   
  }

  .mobile-cv__category-properties li {
    margin-bottom: 1em;
  }

  .cv__property-value {
    color: #2b7e91;
    font-size: 12px;
  }

  .cv__property-label {
    color: #0B3F4A;
    font-family: InterTightSemiBold;
  }


  .cv__link-box {
    padding-top: 2.2em;
    font-size: 12px;
  }

  .blog {
    box-shadow:none
  }

  .blog__mobile-nav {
    padding-bottom: 1em;
    display: flex;
    padding-top: 1.3em;
    margin-bottom: 1.5em;
  }

  .blog__mobile-nav h1 {
    padding: 0px;
    margin-right: 0.5em;
    margin-left: 0.4em;
    font-size: 2.2em;
    margin-top: 0.1em;
  }

  .blog__mobile-nav-links {
    display: block;
    border-left: 1px #EFEFEF solid;
    padding-left: 1em;
  }

  .blog__mobile-nav-links a {
    color: #000;
    line-height: 1.8;
  }

  .blog__post h2 {
    border-bottom: 1px #D0D0D0 solid;
    border-top: 1px #D0D0D0 solid;
    grid-column: 1 / span 12;
    grid-row: 1;
    margin: 0px;
    z-index: 1;
    display: flex;
    margin-top: 2em;
  }

  .blog__post h2 a {
    margin-left: 1em;
    align-self: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .blog__post .post__date {
    grid-row: 1;
    grid-column: 7 / 12;
    margin-top: 0.5em;
    color: #0B3F4A;
    font-size: 0.9em;
    font-family: InterTight;

  }

  .blog__post .post__tags {
    grid-row: 1;
    grid-column: 8 / 12;
    margin-left: 2em;
    
  }

  .blog__post .post__tags a {
    color: #20859B;
    font-size: 0.9em;
    font-family: InterTightExtraBold;
  }

  .blog__post .post__info {
    grid-row: 1;
    grid-column: 9 / span 12;
    border-left: 1px #CFDEE1 solid;
    padding-right: 1em;
    background-color: #DBEAED;
    margin-top: 4em;
  }

  .blog__post .post__content {
    font-size: 1.3em;
  }

  .toc {
    display: none;
  }

  .scallop-border {
    border: solid rgba(162, 197, 204, 0.25);
    border-width: 0 1px 1px 1px;
    border-radius: 26px;
    //filter: drop-shadow(0 0 0.75rem crimson);
    box-shadow: 0 0 2px 2px rgba(231, 236, 244,0.25);
    clip-path: inset(25px 0px -3px 0px);
    margin-left: -1px;
    margin-right: -1px;

  }

  #blog__sidebar {
    display: none;
  }
}
