@media screen and (max-width: 600px) {
  
  body {
    font-size: 14px;
  }
    
  .hidden {
    display: none;
  }

  .dimmed-background {
    background-color: var(--dimmed-bg-color);
    transition: all 0.5s ease-out;
  }

  .undimmed-background {
    transition: all 0.5s ease-out;
  }

  .accent {
    display: none;
  }

  #blog__sidebar {
    grid-column: 10 / span 12;
    z-index: 2;
    background-color: transparent;
    color: var(--sidebar-mobile-text-color);
  }

  #blog__sidebar a {
    color: var(--sidebar-mobile-text-color);
  }

  .sidebar-menu {
    grid-column: 2 / 6;
    padding-top: 2em;
  }

  .burgermenu {
    stroke: var(--sidebar-mobile-text-color);
    stroke-width: 3;
    fill: none;
  }

  #navToggleButton {
    display: block;
    z-index: 3;
    position: relative;
    padding-left: 1em;
  }

  .index, .blog, .text__content {
    grid-column: 1 / span 12;
  }

  .index__blog, .index__projects {
    margin-left: 1em;
  }

  header {
    display: block;
  }

  header nav {
    font-size: 1.5rem;
  }

  header ul {
    justify-content: initial;
  }

  .site-title {
    font-size: 3rem;
  }

  .post__tags {
    font-size: 0.9rem;
    grid-column: 6 / 9;

  }

  .index__post .post__date {
    font-size: 1rem;
  }

  .index h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #markdown-toc {
    display: block;
  }

}

@media screen and (max-width: 870px) {
  .sidebar__content {
    padding-right: 1em;
    font-size: 0.9em;
    grid-column: 2 / 3;
  }

  .sidebar__blurb {
    padding-right: 0em;
  }

  .sidebar__title {
    font-size: 1em;
    font-weight: bold;
  }

  .sidebar__latest-posts, .sidebar__blog-links {
    font-size: 0.9em;
  }

  .blog h1 {
    padding-left: 0.8em;
  }
}

@media screen and (max-width: 1280px) {
  header, .page-content {
    margin-left: 1em;
    margin-right: 1em;
  }
}