@media screen and (max-width: 600px) {
  
  body {
    font-size: 14px;
  }


  .blog {
    background-color: var(--content-background-color);
  }

  .blog__post {
    background-color: transparent;
  }
  #navToggleButton {
    display: block;
  }
    
  .hidden {
    display: none;
  }

  .dimmed-background {
    background-color: var(--dimmed-bg-color);
    transition: all 0.5s ease-out;
  }

  .undimmed-background {
    transition: all 0.5s ease-out;
  }

  .accent, .sidebar {
    display: none;
  }

  .index, .blog, .text__content {
    grid-column: 1 / span 12;
  }

  .index__blog, .index__projects {
    margin-left: 1em;
  }

  header {
    display: block;
  }

  header nav {
    font-size: 1.5rem;
  }

  header ul {
    justify-content: initial;
  }

  .site-title {
    font-size: 3rem;
  }

  .post__tags {
    font-size: 0.9rem;
    grid-column: 11 / 12;

  }

  .index__post .post__date {
    font-size: 1rem;
  }

  .index h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 1280px) {
  header, .page-content {
    margin-left: 1em;
    margin-right: 1em;
  }
}