:root {
    --site-background-color: darkslategrey;
    --content-background-color: #fff;
    --inline-link-color: #6C69F6;
    --title-link-color: #003E4B;
    //detail is used for post-date and image text
    --text-detail-color: #8C8597;
    --title-color: #000;
    --post-subtitle-color: #20859B;
    --page-subtitle-color: #003E4B;
    //accent is the lines (borders) flanking blocks of text
    --project-accent-color: #20859B;
    --post-accent-color: #A2C5CC;
    --sidebar-background-color: rgba(162, 197, 204, 0.25);
    //used for sidebar and footer on dark backgrounds
    --inverse-text-color: #fff;
    --dimmed-bg-color: rgba(0,0,0,0.5);
}