---
permalink: /blogg/tags
title: Tags
---

<div class="sidebar">
    {% include sidebar.html %}
</div>

<div class="blog">
      <div class="blog__mobile-nav scallop-border">
    <h1>Blogg</h1>
    <div class="blog__mobile-nav-links">
        <ul>
            <li><a href="/blogg/arkiv">Arkiv</a></li>
            <li><a href="/blogg/tags">Tags</a></li>
            <li><a href="/feed.xml">RSS-feed</a></li>
        </ul>
    </div>
</div>
    <div class="blog__page">
        <h1>{{ page.title }}</h1>
        <div class="grid__list">
            <ul>
                {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}

                <li>
                    <h2><a href="/blogg/tags/{{ tag_name | slugize }}">{{ tag_name }}</a></h2>
                    {% for post in site.tags[tag_name] %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>