<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="{{ page.desc }}">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none' ; manifest-src 'none' ; frame-src 'none' ; worker-src 'none' ; object-src 'none' ; font-src 'self' ; connect-src 'self' ; img-src 'self' ; script-src 'self' ; style-src 'self'">
        <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}">
    </head>
</html>

<body>
    <div id="container">
        <div class="content">
            <header>
                <div><a href="/" class="site-title" aria-label="Hjem">Rebecca Iversen</a></div>
                <nav>
                    <ul>
                        <li><a href="/CV">CV</a></li>
                        <li><a href="/prosjekter">Prosjekter</a></li>
                        <li><a href="/blogg">Blogg</a></li>
                        <li><a href="/om-meg">Om meg</a></li>
                    </ul>
                </nav>
            </header>
            <main class="page-content">
                {{ content }}
            </main>
           
        </div>
        <footer>
            Rebecca Iversen © 2024 <a href="/kreditering">Kreditering</a>
        </footer>
    </div>
</body>
<script src="/assets/scripts/toggleSidebar.js"></script>
</html>